* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: blanchedalmond;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    text-decoration: none;
    font-size: 20px;
    border-radius: 35px;
    padding: 10px 10px;
}

button:hover {
    cursor: pointer;
}

.logo {
    width: 35px;
    height: 35px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 20%;
}

.navButtons {
    list-style: none;
}

.navButtons li{
    cursor: none;
    display: inline-block;
}
